body {
  margin: 0;
  padding: 0;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #F1AB00;
  background-color: #003066;
}
/*
 * Formatting the header area
 */
header {
  background-color: #003066;
  height: 35px;
  width: 100%;
  opacity: .9;
  margin-bottom: 10px;
}
header h1.logo {
  margin: 0;
  font-size: 1.7em;
  color: #F1AB00;
  text-transform: uppercase;
  float: top;
}
header h1.logo:hover {
  color: #fff;
  text-decoration: none;
}
/*
 * Centering the body content
 */
.container {
  width: 1200px;
  margin: 0 auto;
}
div.home {
  padding: 50px 0 50px 0;
  background-color: #2D6CC0;
  -webkit-border-radius: 6px;
     -moz-border-radius: 6px;
          border-radius: 6px;

}
h1.prompt{
  position: relative;
  alignment: center;
}
div.results {
  padding: 10px 0 30px 0;
  background-color: #003066;
  -webkit-border-radius: 6px;
     -moz-border-radius: 6px;
          border-radius: 6px;
}
h2 {
  font-size: 3em;
  margin-top: 40px;
  text-align: center;
  letter-spacing: -2px;
}
h3 {
  font-size: 1.7em;
  font-weight: 100;
  margin-top: 30px;
  text-align: center;
  letter-spacing: -1px;
  color: #999;
}
.menu {
  float: right;
  margin-top: 15px;
  margin-right: 5px;
}
.menu li {
  display: inline;
}
.menu li + li {
  margin-left: 35px;
}
.menu li a {
  color: #F1AB00;
  text-decoration: none;
}

.search-container {
  background-color:#003066 ;
  height: 100px;
  width: 100px;
  position: absolute;
  left: 50%;
  margin-left: -50px;
  top: 50%;
  margin-top: -50px;



}